.delete-button {
  width: 49%;
  background-color: rgb(180, 65, 65);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.edit-button {
  width: 49%;
  background-color:rgb(95, 95, 173);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
